<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Entrou na magia</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem eos labore itaque porro quae, natus asperiores provident ad? Ex eligendi nesciunt iure, debitis quo veniam architecto blanditiis possimus! Ex, placeat.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptate. Necessitatibus, dolore aspernatur nostrum nemo asperiores laborum, aperiam, maxime laudantium eos error atque. Natus, cumque! Sequi accusantium expedita et at.
            </p>
        </div>
    </div>

</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
        </div>
    </div>