.parallax {
    background-image: url('https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/05/apex-hero-medium-story-bangalore-7x2-xl.jpg.adapt.crop7x2.1920w.jpg%201456w');

    min-height: 550px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}