<div class="card border-0 mt-5" style="width: 20rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/05/apex-hero-medium-story-bangalore-7x2-xl.jpg.adapt.crop7x2.1920w.jpg%201456w" alt="Imagem de capa do card">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Caio Cesar</h5>
      <p class="card-text text-center text-monospace">Player de Apex legends</p>
      
      <a href="https://www.instagram.com/caio.bispo1999/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Instagram</a>

      <a href="https://github.com/CaioCSB" class="btn btn-outline-dark d-flex justify-content-center" target="_blank"></a>
    </div>
  </div>